<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\style.css">
    
    <title>vote</title>
</head>
<body>
    <h1 class="header">SRKR Engineering College</h1>
    <h4 class="star">President Of Ace Star</h4>
    <p>Hi, I am Naveen, a dedicated member of the ACE organization at SRKR Engineering College. I have been actively involved in various initiatives that aim to enhance the student experience and promote collaboration among peers. Now, I am honored to be nominated for the position of President of ACE. I believe my leadership skills and passion for our community will help us achieve great things together. Vote for me, and let's make a difference together. Thank you for your support!</p>

   <div class="main">
    <div class="container">
        <div class="part1">
            <img  src="\images\naveen (1).jpg" alt="">
        </div>
        <div class="part2">
            <h1>R.Naveen Kumar</h1>
            <h3>Excutive Body President Of Ace</h3>
            <h4 class="count">votes:201</h4>
            <button class="vote"  onclick="colorchange(this)"><a href="/thanks">vote Him</a></button>
        </div>
    </div>
   </div>
   <script src="\js\index.js"></script>
</body>
</html>